body {
  background: #0f172a;
  color: white;
  font-family: sans-serif;
}

nav a {
  margin: 10px;
  color: cyan;
}

.card {
  background: #111;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  animation: fadeIn 0.8s ease-in;
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(10px);}
  to {opacity: 1;}
}
